ffmpeg-python
google-genai
Pillow
faiss-cpu 
numpy
python-dotenv
fastapi
uvicorn[standard]
python-multipart
scenedetect[opencv]
opencv-python
pyaudio 
pillow
mss
google-cloud-storage
google-cloud-run
google-cloud-tasks
gunicorn
